
.topGrid {
    
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1%;
    justify-items: flex-end;

}

.alignRight {
    width: 100%;
    text-align: right;
  }
  
  .alignLeft {
    width: 100%;
    text-align: left;
  }
    
.buttonMargin {
  margin-right: 10px;
}