.cardWrapper {
  height: auto;
  width: 200px;
  display: wrap;
  flex-direction: column;
  background-color: white;
  border-radius: 0px;
  margin: auto;
  border: 1px solid #1616ae;
}

.image {
  height: 160px;
  width: 200px;
  border-radius: 0px;
  background-position: center;
  background-size: contain;
}

.text {
  text-align: center;
  padding: 10px;
}

.moreInfo {
  border-top: 1px solid lightgrey;
  padding: 10px;
  text-align: center;
}

.viewButton {
  width: 100%;
  height: 40px;
  border-radius: 0px;
  border: 0px;

  background-color: #1616ae;
  color: white;
  font-weight: 600;
}

.viewButton:hover {
  background-color: white;
  color: #1616ae;

  border: 1px solid #1616ae;

  cursor: pointer;
}
