.progressDiv {
  background-color: #d83249;
  border-radius: 0.5rem;
}

.progress {
  background-color: #1616ae;
  height: 5px;
  border-radius: 0rem;
  transition: 5s ease;
  transition-delay: 1s;
}
