
.progressDiv {
  background-color: #D83249;
  border-radius: .5rem;
}

.progress {
  background-color: #1616AE;
  height: 5px;
  border-radius: 0rem;
  transition: 5s ease;
  transition-delay: 1s;
}
