.cardWrapper {
  background-color: white;
  height: 100%;
  position: relative;
  padding: 20px;
  padding-bottom: 40px;
  border-top: 2px solid rgb(138, 170, 190, 0.5);
}

.card {
  min-height: 200px;
  width: 200px;
  background-color: hotpink;
}

.closeButton {
  position: absolute;
  top: 3%;
  right: 1%;
  cursor: pointer;
}

.cardGrid {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;

  width: 80%;
  margin: auto;
}

.alsoOnGrid {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
}

.overflow {
  overflow: hidden;
}

.sticky {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 300px;
  width: 100%;
}

.slider {
  position: relative;
  left: 0;
  bottom: 0;
  //height: 300px;
  width: 100%;
  overflow-y: hidden;
  max-height: 600px;
  /* approximate max height */
}

slider.closed {
  max-height: 0;
}

.box {
  height: 300px;
  width: 100%;
  overflow: hidden;
  border: 1px solid red;
  background: #ff0;
}

.hid-box {
  top: 100%;
  position: relative;
  transition: all 0.3s ease-out;
  background: #428bca;
  height: 100%;
}

.box:hover > .hid-box {
  top: 50%;
}

.artistName {
  margin-left: 50%;
  justify-self: center;
}
